<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= image_tag product.photo , style: "width:150px; height:150px" %>
  </p>

</div>
